.products {
    justify-content: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
  }
  
  .product-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(254, 255, 255);
  }
  
  .main-image {
    width: 100%;
    height: 200px;
    object-fit:contain;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .gallery img {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #d1d1d1;
  }
  
  .gallery img:hover {
    border: 2px solid #504b4b;
  }
  
  .buttons button {
    margin: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: #000000; 
    color: white;
  }

  
