.main-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 24px;
  background-color: #e8e8e8; 
  border-radius: 12px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(7, 7, 7, 0.1);
}

.main-navbar a {
  text-decoration: none;
}

.main-navbar h1 {
  font-size: 16px;
  font-weight: 600;
  color: #121212;
  background-color: #c2bcbc;
  padding: 8px 16px;
  border-radius: 8px;

  cursor: pointer;
}

.main-navbar h1:hover {
  background-color: #a9a7a7; 
  transform: translateY(-2px);
  color: #0f0f0f;
}
